
<div class="accordion" id="accordionHistory">

{% set dlist = [dui] %}
{% set clist = dlist + concepts['con_list'] %}

{% for cui in concepts['con_list']  %}

  {% set con = concepts['concepts'][cui] %}

  <div class="card border-dark">
    <div class="card-header mtw-nopad" id="headingOne-{{ cui }}">

        <a href="#" class="btn btn-link d-block" data-toggle="collapse" data-target="#collapseOne-{{ cui }}" aria-expanded="true" aria-controls="collapseOne-{{ cui }}">
          {{ con.label|truncate(50,killwords=True) }}
        </a>

    </div>
    <div id="collapseOne-{{ cui }}" class="collapse" aria-labelledby="headingOne-{{ cui }}" data-parent="#accordionHistory">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="{{ url_for('audit', dui=dui, cui=cui) }}" class="float-right" title="Show Audit" aria-label="Show Audit">
            <i class="fas fa-bars"></i> Show audit </a>
        </li>
      </ul>

      <div class="card-body">

        {% for item in audit[cui] %}

           <div class="card-text">
           <div class="pb-2">
             <div>
             {% if item.resolvedby and item.resolvedby != 'None' %}
                 {% set resby = ' - ' + item.resolvedby %}
             {% endif %}

                <span class="text-muted float-right">
                  <a href="#" class="text-muted" data-container="body" data-toggle="tooltip" data-placement="bottom"
                              title="{{ item.event }} - {{ item.username }} {{ resby }} : {{ item.updated|replace('T', ' ') }}">
                    <i class="fas fa-info-circle"></i>
                  </a>
                </span>
             </div>

     {% if item.tstate == 'pending' and item.event == 'delete_concept' %}
         <span class="badge badge-warning">{{ item.tstate }}</span>
     {% elif item.tstate == 'rejected' %}
         <span class="badge badge-{{ get_statusRep(item.tstate) }}">{{ item.tstate }}</span>
     {% elif item.tstate == 'pending' %}
         <span class="badge badge-{{ get_statusRep(item.tstate) }}">{{ item.tstate }}</span>
     {% endif %}

    {% set con_label = con.label %}
    {% set backlink = 's' %}
    {% include 'snips/audit-show.html' %}

           </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

{% endfor %}

</div>
