/* MTW Custom CSS */
html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: 4.5rem;
}

.modal-backdrop.show {
  opacity: 0.3;
}

.mtw-spacelab-body {
  font-size: 95%;
}

#navbar {
  background-color: black;
}

#navTogglerIcon {
  color: white;
}

#notes dt {
    padding-right: 10px;
}

#notes dd {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.8rem;
}

.nav-link.active {
    font-weight: bold;
}

#showClipboard legend {
    padding-top: 2px;
    padding-bottom: 2px;
}

.tree-view-badge {
    font-size: 100%;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.mtw-nopad {
    padding: 0;
}

.mtw-flatly-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

#mtw-auditLog td {
  vertical-align: middle;
}

.mtw-stats {
  font-size: 1.5rem;
}

.mtw-stats-link-flatly {
  color: #3399F3;
}

progress {
  height: 16px;
  width: 100%;
	display: inline-block;
	-webkit-appearance: none;
	border: none;
}

.mtw-slate-pb, .mtw-flatly-pb {
  background: gray;
	border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
	background: gray;
	border-radius: 0.25rem;
	/*box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);*/
}

progress::-webkit-progress-value {
  background: limegreen;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  /*box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);*/
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  /*background-color: #f5f5f5;  */
}

.footer p {
  padding: 5px;
  margin: 0;
}

.theme-slate body  {
  font-size: 1rem;
}  

.theme-slate .navbar-brand  {
  border: 0;
} 

.theme-slate .nav-link {
  background-image: none;
  border: 0;
  padding: 0.5rem 1rem;
}

.theme-slate .navbar  {
  border-bottom: 1px solid #515960;
}

.theme-slate .btn {
  padding: .375rem .75rem;
}

.theme-slate .input-group-text {
  padding: .375rem .75rem;
}

.theme-slate .form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: .375rem .75rem;
}

.theme-slate .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
}

.theme-slate .custom-select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}

.theme-slate code {
  color: #e9ecef;
}


