<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="delete User" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteUserLabel">Delete User :
          <span class="font-weight-light" id="delUserName"></span>
        </h4>
      </div>
      <div class="modal-body">
        <p class="lead">
          Do You really want to delete this user?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger ml-3" id="confirmDeleteUserButton" title=""
                data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
