### Version 1.7.6 ###
### Python 3.12 ###
arrow==1.4.0
bcrypt==5.0.0  ## NOT python-bcrypt !!!
cachelib==0.13.0
certifi==2026.1.4
colorama==0.4.6
diff_match_patch==20241021
Flask==3.1.2
Flask-Caching==2.3.1
# Flask-Limiter==3.13  ## NOT used yet
Flask-Paranoid==0.3.0
Flask-SeaSurf==2.0.0
Flask-Session==0.8.0
flask-talisman==1.1.0
future==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pip_audit==2.10.0  ## Run: pip freeze > requirements.txt ; pip-audit ; pip-audit -r mtw_requirements.txt
pyuca==1.2
rdflib==7.5.0
requests==2.32.5
requests_futures==1.0.2
SPARQLWrapper==2.0.0
tqdm==4.67.3
urllib3==2.6.3
waitress==3.0.2
Werkzeug==3.1.5
### (optional) If building for Windows:
pyinstaller==6.18.0; sys_platform == "win32"
pyinstaller-hooks-contrib==2026.0; sys_platform == "win32"
## Install pywin32
pywin32==311; sys_platform == "win32"
## and run in CMD as Admin with activated VENV (!):
##  python venv\Scripts\pywin32_postinstall.py -install
