### Version 1.6.5
### Python 3.12 ###
arrow==1.3.0
bcrypt==4.1.2 ## NOT python-bcrypt !!!
cachelib==0.9.0 ## Stick to 0.9.0 OR run:  pip install cachelib --upgrade
certifi==2024.2.2
cffi==1.16.0
colorama==0.4.6
diff_match_patch==20230430
Flask==3.0.2
Flask-Caching==2.1.0
Flask-Paranoid==0.3.0
# Flask-SeaSurf==1.1.1 is broken with Flask 3+
# The last version of Flask-Seasurf on PyPi (v1.1.1) is outdated
# We install from the last commit on GitHub instead
# See: https://github.com/maxcountryman/flask-seasurf/issues/135
Flask-SeaSurf @ https://github.com/maxcountryman/flask-seasurf/archive/refs/heads/main.tar.gz#sha256=64048ed1f01d6bf6ae369112eb70a21dcbbb6612eddd3a9069d8f49353c35400
Flask-Session==0.6.0
flask-talisman==1.1.0
future==0.18.3
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
pip_audit==2.7.1 ## Run: pip freeze > requirements.txt ; pip-audit ; pip-audit -r mtw_requirements.txt
pyuca==1.2
requests==2.31.0
requests_futures==1.0.1
setuptools==69.1.1
urllib3==1.26.18
waitress==3.0.0
Werkzeug==3.0.1
wheel==0.42.0
### (optional) If building for Windows:
pyinstaller==6.4.0; sys_platform == "win32"
pyinstaller-hooks-contrib==2024.1; sys_platform == "win32"
## Install pywin32
pywin32==306; sys_platform == "win32"
## and run in CMD as Admin with activated VENV (!): 
##  python venv\Scripts\pywin32_postinstall.py -install
